// Navigation code here
.nav-header {
    .flex-box();
    border-bottom: 2px solid #dee2e6;
    p {
        padding: 1em;
      font-family: 'Russo One', sans-serif;
      color:  #22283A;
      font-size: 4rem;
    }
    nav {padding-bottom: 20px;}
    a {
        padding: 20px;
        text-decoration: none;
        color: #22283A;
        font-size: 1.7rem;
        font-family:  @river-bend;
       }
      }
